.sendCargoForm {
  &__title {
    color: #4C73E3;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  &__content {
    margin-top: 30px;
    max-width: 800px;

    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  &__groupedFieldset {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    & > :nth-child(1n) {
      flex-grow: 1;
    }
  }

  &__addTransportBtn {
    width: fit-content;
  }

  &__formButtonContainer {
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
